<div class="container">
    <mat-toolbar >
        <p style="margin: 0px;"><i>{{currentRoom?.firstName}}</i> <i> {{currentRoom?.lastName}}</i></p>
        <button mat-icon-button (click)="connect()"><mat-icon svgIcon="whatsapp"></mat-icon></button>
        <button mat-icon-button (click)="call()"><mat-icon svgIcon="duo"></mat-icon></button>
        <button mat-icon-button (click)="id()">id</button>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <div #scroll id="scroll-div-1"
    class="message-container"
        infinite-scroll
        [infiniteScrollDistance]="1"
        [infiniteScrollUpDistance]="1"
        [infiniteScrollThrottle]="1"
        (scrolledUp)="onScroll()"
        [scrollWindow]="false">
        <div *ngFor="let message of messages" style="margin: 10px;">
            <div [ngClass]="message.sender === me.id? 'sender': 'recivier'">
                <div class="message">
                    <span class="message" matTooltip="{{message.creationDate | date: 'yyyy-MM-dd'}}">{{message.content}}</span>
                </div>
            </div>
        </div>
    </div>



    <div mat-line class="send-footer">
        <div class="message-input">
            <input  [formControl]="msg" type="text">
            <div>
                <button mat-icon-button (click)="attach_file()"><mat-icon svgIcon="attachment"></mat-icon></button>
                <button mat-icon-button (click)="attach_audio()"><mat-icon svgIcon="graphic_eq"></mat-icon></button>
                <button mat-icon-button (click)="attach_emoji()"><mat-icon svgIcon="emoji"></mat-icon></button>
            </div>
        </div>
        <button class="send" mat-icon-button (click)="send()" style="margin: auto;">
            <mat-icon svgIcon="send"></mat-icon>
        </button>
    </div>
</div>