<div class="container">
    <div class="column-1" #column1>
        <mat-card [ngStyle]="{'display': display? 'flex': 'none'}" class="content">
            <mat-card-subtitle>
                <div>
                    Connexion
                </div>
            </mat-card-subtitle>
            <mat-card-content>
                <div>
                    <button class="icon">
                        <img src="../../assets/icons/Google__G__Logo.png">
                    </button>
                </div>
                <span class="googleOrEmail">Or</span>
                <form [formGroup]="loginForm" (submit)="login()">
                    <mat-form-field appearance="outline" color="primary">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password">
                    </mat-form-field>

                </form>
                <div>
                    <button mat-button (click)="resetPasswd()">Forget password</button>

                </div>
                <div style="display: none">
                    <form [formGroup]="signupForm" (submit)="createAccount()">
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>First Name</mat-label>
                            <input matInput type="firstname" formControlName="firstname">
                        </mat-form-field>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>Last Name</mat-label>
                            <input matInput type="lastname" formControlName="lastname">
                        </mat-form-field>

                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>Email</mat-label>
                            <input matInput type="email" formControlName="signupEmail">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" formControlName="signupPassword">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" formControlName="signupSecondPassword">
                        </mat-form-field>

                    </form>
                </div>

            </mat-card-content>
            <mat-card-actions>
                <div>
                    <button class="submit" mat-raised-button (click)="login()">Login</button>
                </div>

            </mat-card-actions>

        </mat-card>

        <mat-card [ngStyle]="{'display': !display? 'flex': 'none'}" class="content" #secondcard>
            <mat-card-subtitle>
                <div>
                    Create an account
                </div>
            </mat-card-subtitle>
            <mat-card-content>
                <form [formGroup]="signupForm" (submit)="createAccount()">
                    <mat-form-field appearance="outline" color="primary">
                        <mat-label>First Name</mat-label>
                        <input matInput type="firstname" formControlName="firstname">
                    </mat-form-field>
                    <mat-form-field appearance="outline" color="primary">
                        <mat-label>Last Name</mat-label>
                        <input matInput type="lastname" formControlName="lastname">
                    </mat-form-field>

                    <mat-form-field appearance="outline" color="primary">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="signupEmail">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="signupPassword">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="signupSecondPassword">
                    </mat-form-field>

                </form>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="column-2 box-card" #column2>
        <div class="content singUp">
            <h4>Hello, Friend! come join us</h4>
            <p>Create an accout or use your google account,
                With Hellofriend you can also start an anonymaus peer to peer video call, without the need to have an
                account, It's great no
            </p>
            <div>
                <button mat-raised-button (click)="signup(column2, column1)">Sign Up</button>
            </div>
        </div>

        <div class="content singIn" style="display: none">
            <h4>Hello, Friend! </h4>
            <p>You have already an account,
                Sign In and start chat with your friends
            </p>
            <div>
                <button mat-raised-button (click)="signin(column2, column1)">Sign In</button>
            </div>
        </div>
    </div>

</div>