.container {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: var(--background-color)
}

.column-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    transition-property: left, border-radius;
    transition-duration: 3s;
}
.column-2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    transition-property: right, border-radius;
    transition-duration: 3s;

}
.content {
    width: inherit;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    div {
        text-align: center;
        button {
            width: 150px;
        }
    }
}

.show {
   display: flex;
   visibility: visible;
   opacity: 1;
   font-size: 14px;
   transition: visibility 1.5s, font-size 1.5s;

}
.hide {
  display: none;
  visibility: hidden;
  opacity: 0;
  font-size: 0;
  transition: visibility 1.5s, font-size 1.5s;
}
div.column-2 > div.content > div {
    width: inherit;
    display: grid;
    grid-gap: 10px;
    margin: auto;
}
form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.box-card {
    background: 
        linear-gradient(to left bottom, rgba(22, 97, 165, 1), rgba(66, 162, 222, 1)),
        linear-gradient(to right top, rgba(22, 97, 165, 1), rgba(66, 162, 222, 1)),
        linear-gradient(to right bottom, rgba(22, 97, 165, 1), rgba(66, 162, 222, 1)),
        linear-gradient(to left top, rgba(22, 97, 165, 1), rgba(66, 162, 222, 1)),;
        
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4), 0 15px 40px rgba(0, 0, 0.4, 0.4);
    border-radius: 25px 0 0 25px;
}

mat-card {
    box-shadow: 
        5px 1px 15px 0px rgba(0, 0, 0, 0.2), 
        5px 1px 15px 0px rgba(0, 0, 0, 0.14), 
        0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
}

mat-card-subtitle {
    display: flex;
    margin: auto auto !important;
}
mat-card-content {
    display: grid;
    grid-gap: 15px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px 0 10px 0;  
}
mat-card-actions {
    margin: 0 auto !important;
    padding: 0 !important;
    text-align: center;
    width: 100%;
    height: 100%;
    display: grid;
    div {
        margin: auto;
        width: inherit;
        height: inherit;
        position: relative;
        display: grid;
        button {
            margin: auto !important; 
            width: 40%;
        }
    }
}
span.divider {
    height: 100%;
    width: 50px;
    display: inline-block;
    text-align: center;
}
span.divider::before {
    border-left: 1px solid black;
    content: "";
    display: block;
    width: 1px;
    z-index: 0;
    height: 45%;
    margin: 0 24px;
}
span.divider::after {
    border-left: 1px solid black;
    content: "";
    display: block;
    height: 45%;
    z-index: 0;
    bottom: 0;
    margin: 0 24px;
}
span.googleOrEmail {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
span.googleOrEmail::before {
    content: "";
    width: 45%;
    left: 0;
    height: 1px;
    display: block;
    top: 50%;
    background: black;
    position: absolute
}
span.googleOrEmail::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    background: black;
    height: 1px;
    width: 45%;
}

img {
cursor: pointer;
    width: 24px;
    height: 24px;
}
.icon {
    width: 24px !important;
padding: 0;
border: 0;
background: none;
cursor: pointer;

}


    div.vertical {
        display: flex; 
        flex-direction: column;
        mat-form-field {
            text-align: center;
        }
        button {
            margin: auto;
        }
    }


::ng-deep div.mat-horizontal-content-container {
    padding: 0 !important;
    mat-card-subtitle {
        display: block
    }
}
::ng-deep .mat-step-header  {
    display: none !important
}
::ng-deep .mat-stepper-horizontal-line {
    display: none !important
}

.text-show {
    animation-delay: 0;
    animation-duration: 1s;
    animation-name: play-text;
    animation-timing-function: fade-out;
}
.text-hide {
    animation-delay: 0;
    animation-duration: 1s;
    animation-name: play-text;
    animation-direction: reverse;
    animation-timing-function: fade-in;
}
@keyframes play-text {
    0% { opacity: 0; }
    2% { opacity: 0.025; }
    5% { opacity: 0.05; }
    7% { opacity: 0.075; }
    10% { opacity: 0.1; }
    20% { opacity: 0.2; }
    30% { opacity: 0.3; }
    40% { opacity: 0.4; }
    50% { opacity: 0.5; }
    60% { opacity: 0.6; }
    70% { opacity: 0.7; }
    80% { opacity: 0.8; }
    90% { opacity: 0.9; }
    100% { opacity: 1; }
}