<mat-drawer-container class="container">
    <mat-drawer mode="side" opened>
        <div class="center-text">
            <h3>{{me.lastName}} {{me.firstName}}</h3>
        </div>
        <mat-selection-list [multiple]="false" #list (selectionChange)="openRoom(list.selectedOptions.selected[0].value)">
            <mat-list-option *ngFor="let friend of friends" [value]="friend">
                <app-friend-item [friend]="friend"></app-friend-item>
            </mat-list-option>
        </mat-selection-list>
    </mat-drawer>
    <mat-drawer-content>
            <app-room></app-room> 
       
    </mat-drawer-content>
</mat-drawer-container>

