<mat-drawer-container class="container">
    <mat-drawer #drawer mode="side" [opened]="opened">
        <div class="center-text">
            <h3>{{me.lastName}} {{me.firstName}}</h3>
            <button mat-button [matMenuTriggerFor]="menu"><mat-icon svgIcon="more_vert"></mat-icon></button>
            <mat-menu #menu position="right">
                <button btn mat-button (click)="logout()"><mat-icon svgIcon="logout">Disconnect</mat-icon></button>
            </mat-menu>
        </div>
        <mat-selection-list [multiple]="false" #list (selectionChange)="openRoom(list.selectedOptions.selected[0].value)">
            <mat-list-option *ngFor="let friend of friends" [value]="friend">
                <app-friend-item [friend]="friend" ></app-friend-item>
            </mat-list-option>
        </mat-selection-list>
    </mat-drawer>
    <mat-drawer-content>
            <app-room></app-room> 
    </mat-drawer-content>
</mat-drawer-container>

