::ng-deep .mat-tab-labels {
    justify-content: space-between;
}
.container {
 height: 100%;
}

mat-drawer {
    width: 20%;
    
}
mat-drawer-content {
    //width: 80%
}
h3 {
    margin: 0;
}
.center-text {
    text-align: center;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
